.container {
  color: #172b4d;
  font-family: 'Charlie Text', sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 688px;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
  width: 1351px;
}
